
/** ADD YOUR AWESOME CODES HERE **/
.logo{
    width: 150px;
    height: 40px;
}

.resultados button {
    padding: 0;
    margin: 0;
    width: 70px;
}

@media (max-width: 576px) {
    .resultados button {
        width: 200px;
    }
}